<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width"> <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/polygon-assets/sockets-io/vendor.css">
    <link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/polygon-assets/sockets-io/main.css">
  </head>
  <body ng-app="app">
    <div id="bar"></div> <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]--> <!-- Add your site or application content here -->
    <div ng-view></div> <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script src="https://s3.ap-south-1.amazonaws.com/polygon-assets/sockets-io/vendor.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script src="https://s3.ap-south-1.amazonaws.com/polygon-assets/sockets-io/scripts.js"></script>
  </body>
</html>
